/*******************************
General
*******************************/
body {
	font-family: 'Vollkorn', serif;	
}
h1, h2, h3, h4, h5, #logo {
	font-family: 'Playball', cursive;
}
li {
	list-style: none;
}
video {
	height: 100%;
	width: 100%;	
}

/*******************************
Main
*******************************/

.about, .contact{
	font-size: 1.2em;
}
.contact {
	margin-top: 20px;
}
.glyphicon {
	padding-right: 5px;
}
.listing {
	background-color: #E6E6E6;
	border-radius: 5%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	padding-top: 10px;
}
.listing .row {
	margin: 0;
}
.main {
	padding-top: 60px;
}
.specs {
	font-size: 1.2em;
}
video {
	max-height: 80%;
	max-width: 80%;
}
#welcome-btn {
	margin-top: 15px;
}

/*******************************
Footer
*******************************/

.footer {
	margin-top: 20px;
}
.footer li {
	display: inline;
	margin-right: 5px;
}

/*******************************
Text
*******************************/

.available small {
	text-shadow: 1px 1px #00B800;
}
.contingent small {
	text-shadow: 1px 1px #FFFF00;
}
.sold small {
	text-shadow: 1px 1px #E60000;
}

/*******************************
Layout
*******************************/

.mb-0 { margin-bottom: 0;}

.ml-0 {	margin-left: 0; }

.mr-0 {	margin-right: 0; }

.mt-0 { margin-top: 0;}

.pb-0 { padding-bottom: 0;}

.pl-0 {	padding-left: 0; }

.pr-0 {	padding-right: 0; }

.pt-0 { padding-top: 0;}

.center { text-align: center; }

/*******************************
Images
*******************************/

.fullsize > img {
	border-radius: 10%;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	padding: 20px 0;
}
.thumbnail {
	border-radius: 10%;
	margin-right: 0;
}
.thumbs {
	max-height: 100%;
	padding: 0 15px;
}
#vegas {
	border-radius: 10%;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	opacity: 0.6;
	padding: 20px 0;
}

/*******************************
Media Queries
*******************************/

@media (max-width: 623px) {
	#welcome h2 {
		font-size: 1.65em;
	}
	.jumbotron p {
		font-size: 1em;
	}
}