/*******************************
General
*******************************/
body {
	font-family: 'Vollkorn', serif;	
}
h1, h2, h3, h4, h5, #logo {
	font-family: 'Playball', cursive;
}
li {
	list-style: none;
}
video {
	height: 100%;
	width: 100%;

	max-height: 80%;
	max-width: 80%;
}

/*******************************
Main
*******************************/

.glyphicon {
	padding-right: 5px;
}
#info {
	border-radius: 10px;
}
.jumbotron {
	padding-top: 20px;
}
.listing {
	background-color: #E6E6E6;
	border-radius: 10px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.listing .row {
	margin: 0;
}
.listing-thumbs {
	padding-bottom: 20px;
}
.main {
	padding-top: 60px;
}
#welcome-btn {
	display: none;
	margin-top: 15px;
}
#welcome h1 {
	margin-top: 5px;
}
/*******************************
Footer
*******************************/

.footer {
	margin-top: 10px;
}
.footer li {
	display: inline;
	margin-right: 5px;
}

/*******************************
Text
*******************************/

.about, .contact{
	font-size: 1.2em;
}
.available small {
	text-shadow: 1px 1px #00B800;
}
.contact a {
	color: #fff;
}
.contingent small {
	text-shadow: 1px 1px #FFFF00;
}
#info {
	color: #fff;
	text-shadow: 1px 1px #000;
}
#info a {
	color: #fff;
	text-shadow: 1px 1px #000;
}
.sold small {
	text-shadow: 1px 1px #E60000;
}
.specs {
	font-size: 1.2em;
}
#welcome h2 {
	font-size: 2.5em;
}

/*******************************
Layout
*******************************/

.mb-0 { margin-bottom: 0;}

.ml-0 {	margin-left: 0; }

.mr-0 {	margin-right: 0; }

.mt-0 { margin-top: 0;}

.pb-0 { padding-bottom: 0;}

.pl-0 {	padding-left: 0; }

.pr-0 {	padding-right: 0; }

.pt-0 { padding-top: 0;}

.center { text-align: center; }

/*******************************
Images
*******************************/

.fullsize > img {
	border-radius: 10%;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	padding: 20px 0;
}
.thumbnail {
	border-radius: 10px;
	margin-right: 0;
}
.thumbs {
	max-height: 100%;
	padding: 0 15px;
}

/*******************************
Media Queries
*******************************/

@media (max-width: 623px) {
	#welcome h2 {
		font-size: 1.5em;
	}
	.jumbotron p {
		font-size: 1em;
	}
}

@media (max-width: 767px) {
	#info {
		background: url("../images/rain_man_suits.jpg") no-repeat;
		background-size: cover;
		margin-top: 10px;
	}
}

@media (min-width: 768px) {
	#info {
		background: url("../images/charlie_ray_driving.jpg") no-repeat;
		background-position: 50% 50%;		
		background-size: cover;
	}
}