<div class="container"  ng-controller="CarCtrl">
	<div class="page-header pb-0">
		<h1 class="center">{{listing[0].year}} {{listing[0].make}} {{listing[0].model}}</h1>
	</div>

	<!-- Listing -->
	<div id="listing[0].id" class="listing mt-0 pt-0">
		<div class="row">
			<div class="summary col-md-6 col-md-push-6">
				<br><p>{{listing[0].tagline}}</p>
				<ul class="specs pl-0">
					<li>Engine: {{listing[0].engine}}</li>
					<li>Transmission: {{listing[0].trans}}</li>
					<li ng-hide="listing[0].mileage===null" class="ng-hide">Mileage: {{listing[0].mileage}}</li>
					<li>Exterior: {{listing[0].exterior}}</li>
					<li>Interior: {{listing[0].interior}}</li>
					<li>Price: {{listing[0].price}}</li>
					<li class="{{listing[0].status}}">{{listing[0].status}}</li>
				</ul>
				<a class="btn btn-primary" ng-href="{{listing[0].site}}" target="_blank">More Information</a>
			</div>
			<!-- Slick Feature Image -->
			<div class="full col-md-6 col-md-pull-6">
				<div ng-class="$first ? 'fullsize slick' : 'fullsize slick hidden'" ng-repeat="pic in listing[0].images.full"><img ng-src="images/cars/full/{{listing[0].id}}/{{pic}}"></img></div>
			</div>
		</div>
		<!-- Thumbnails -->
		<div class="row listing[0]-thumbs pb-0">
			<div class="thumbs hidden-xs" ng-repeat="pic in listing[0].images.thumbs">
				<a ng-href="images/cars/full/{{listing[0].id}}/{{pic}}" data-lightbox="{{listing[0].id}}"><img class="thumbnail col-sm-2 mb-0" ng-src="images/cars/thumb/{{listing[0].id}}/{{pic}}"></img></a>
			</div>
		</div>
	</div>
</div>