<div class="container">
	<div class="page-header">
		<h1 class="center">Our Cars</h1>
	</div>

	<!-- Listing -->
	<div class="listing mt-0" ng-controller="CarCtrl" ng-repeat="car in cars">
		<div class="row">
			<div class="summary " + {{car.status}} + " col-md-6 col-md-push-6">
				<h2>{{car.year}} {{car.make}} {{car.model}}<br><small>{{car.status}}</small></h2>
				<ul class="specs pl-0">
					<li>Engine: {{car.engine}}</li>
					<li>Transmission: {{car.transmission}}</li>
					<li>Exterior: {{car.interior}}</li>
					<li>Interior: {{car.exterior}}</li>
					<li>Price: {{car.price}}</li>
				</ul>
				<p>{{car.tagline}}</p>
				<a ng-href="{{car.site}}" class="btn btn-primary" target="_blank">More Information</a>
			</div>
			<!-- Slick Feature Image -->
			<div class="full col-md-6 col-md-pull-6">
				<div class="fullsize slick" ng-repeat="pic in car.images.full" ng-repeat="alt in car.images.alt"><img ng-src="images/cars/full/{{car.id}}/{{pic}}"></img></div>
			</div>
		</div>
		<!-- Thumbnails -->
		<div class="row listing-thumbs">
			<div class="thumbs hidden-xs" ng-repeat="pic in car.images.thumbs">
				<a ng-href="images/cars/full/{{car.id}}/{{pic}}" data-lightbox="{{car.id}}"><img class="thumbnail col-sm-2 mb-0" ng-src="images/cars/thumb/{{car.id}}/{{pic}}"></img></a>
			</div>
		</div>
	</div>
</div>