<div class="container">
	<div id="info" class="row">
		<div class="contact col-sm-4 col-sm-offset-1">
			<h2>Contact</h2>
			<div id="contact-info">
				<ul class="pl-0">
					<li><span class="glyphicon glyphicon-road" aria-hidden="true"></span><a href="https://www.google.com/maps/place/400+Oak+St,+Cincinnati,+OH+45219/data=!4m2!3m1!1s0x8841b3bfd586649b:0x436429af5a4bcc7e?sa=X&ei=3m6NVaDoMY-0oQTr_KzABA&ved=0CB0Q8gEwAA" target="_blank">400 Oak Street 
	&middot; Cincinnati, OH &middot; 45219</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="tel: 5554610192">555-461-0192</a> (ask for Sally)</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto: cameronjkelley@gmail.com"> mail@babbitbros.com</a></li>
				</ul>
			</div>
			<div id="contact-form">
				<h3>Message us? Yeah?</h3>
				<form id="" class="col-xs-12 pl-0">
					<div class="form-group col-xs-12 pl-0">
						<label class="sr-only" for="form_name">Name</label>
						<input class="form-control" name="form_name" type="text" autocomplete="name" placeholder="Your Name" required />
					</div>
					<div class="form-group col-xs-12 pl-0">
						<label class="sr-only" for="form_email">Email Address</label>
						<input class="form-control" name="form_email" type="email" autocomplete="email" placeholder="Your Email" required />
					</div>
					<div class="form-group col-xs-12 pl-0">
						<label class="sr-only" for="form_message">Message</label>
						<textarea class="form-control" name="form_message" placeholder="Your Message" maxlength="150" required></textarea>
					</div>
					<div class="col-xs-12 pl-0">
						<button class="btn btn-default" name="submit" type="button" data-toggle="modal" data-target="#emailModal">Yeah</button>
					</div>
				</form>
			</div>
		</div>
		<div class="about col-sm-4 col-sm-offset-2">
			<h2>About</h2>
			<p>It all started for Charlie and Raymond Babbit when they took an unplanned roadtrip from Cincinnati to Los Angeles in their late father's 1949 Buick Roadmaster.</p>
			<p>Charlie loves Italian cars and Italian women. He also likes to wear suits without a tie, but strangely with the shirt buttoned completely up as if he were wearing one. He does not like Kmart.</p>
			<p>Raymond is an excellent driver. He enjoys fish sticks on Wednesdays, orange soda, dancing, and watching Judge Wapner's daily distribution of justice on "The Peoples' Court". He prefers boxers to briefs and was until recently a Kmart shopper.</p>
		</div>
	</div>

	<div id="emailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="moreInfoModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 id="moreInfoModal" class="modal-title">Error: Your message could not be sent.</h4>
				</div>
				<div class="modal-body">
					<p>Because this site is hosted on GitHub Pages there's no server side script allowed, so this form can't actually send anything. Like the rest of the site it's for demonstration purposes only. "Babbit Bros" isn't a real company. I mean, that's Dustin Hoffman and Tom Cruise from the movie <a href="http://www.imdb.com/title/tt0095953/?ref_=ttqt_qt_tt" target="_blank">"Rain Man"</a>. It won Best Picture. If you haven't seen it, you definitely should.</p>
					<p>Anyways, thank you for your interest. You can always send an email by clicking <a href="mailto: cameronjkelley@gmail.com">here</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>