<div class="container">
	<div class="jumbotron">
		<div id="welcome">
			<div class="center">
				<h2 class="mt-0">Welcome to</h2>
				<h1>Babbit Brothers' Auto</h1>
				<p>Definitely Purveyors of Premium Automobiles, Definitely</p>
			</div>
		</div>
		<div class="hidden-xs">
			<video class="center-block" poster="images/rain-man-las-vegas.jpg" autoplay muted loop>
				<source src="images/rain_man.mp4" type="video/mp4">
				Your browser does not support the <code>video</code> element.
			</video>
		</div>
	</div>
</div>