<div class="container">
	<div class="jumbotron mb-0">
		<div id="welcome">
			<div class="center">
				<h2 class="mt-0">Welcome to</h2>
				<h1>Babbit Brothers' Auto</h1>
				<p>Definitely Purveyors of Premium Automobiles, Definitely</p>
			</div>
		</div>
		<div id="video-wrapper" class="hidden-xs">
			<video class="center-block" poster="images/rain-man-las-vegas.jpg" autoplay muted loop>
				<source src="images/rain_man.mp4" type="video/mp4">
				Your browser does not support the <code>video</code> element.
			</video>
		</div>
		<!-- <div id="scroll" class="visible-lg">
			<span id="scroll-arrow" class="glyphicon glyphicon-menu-down pr-0"></span>
		</div> -->
	</div>
	<!-- <div id="survey">
		<form class="">
			<div class="form-group col-xs-12 col-sm-4 text-center">
				<label for="job">Your dream job:</label>
				<select id="job" class="form-control">
					<option></option>
					<option>Gambler</option>
					<option>Psychiatrist</option>
					<option>TV Judge</option>
				</select>
			</div>
			<div class="form-group col-xs-12 col-sm-4 text-center">
				<label for="city">Your dream city:</label>
				<select id="city" class="form-control">
					<option></option>
					<option>Cincinnati</option>
					<option>Los Angeles</option>
				</select>
			</div>
			<div class="form-group col-xs-12 col-sm-4 text-center">
				<label for="problem">How much is 4343 x 1234?</label>
				<select id="problem" class="form-control">
					<option></option>
					<option>5359262</option>
					<option>5358262</option>
				</select>
			</div>
			<div class="col-xs-12">
				<button class="btn btn-lg btn-primary center-block" type="submit">Let it Roll!</button>
			</div>
		</form> -->
	</div>
</div>